

.welcome-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 375px;
}

.welcome__tabs{
    display: flex;
    gap: 22px;
    flex-direction: row;
    justify-content: center;
    margin-top: 11px;
}

.welcome__tab{
    padding: 4px 23px;
    backdrop-filter: blur(4px);
    border-radius: 4px;

    font-family: Barlow,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}


@media screen and (max-width: 600px) {
    .welcome__gif{
        width: 171px;
    }

    .welcome-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        padding: 0 23px;
    }

    .welcome__tabs{
        display: flex;
        gap: 11px;
        flex-direction: row;
        justify-content: center;
        margin-top: 11px;
    }

    .welcome__tab{
        padding: 0 10px;
        backdrop-filter: blur(4px);
        border-radius: 4px;

        font-family: Barlow,sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 26px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }
}