
.meidaSlide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
}

.media__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 375px;
    gap: 30px;
}

.media__card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc(50% - 15px);
    padding: 34px;
    border-radius: 20px;

    background: #25252566;
    backdrop-filter: blur(8px);
}

.media__cardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card__contentImg{
    position: relative;
}

.card__contentImg img{
    border-radius: 20px;
    height: 386px;
}

.card__contentImgTag{
    position: absolute;
    top: 19px;
    left: 19px;
    border-radius: 200px;
    padding: 0 14px;


    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.media__cardFooter{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card__footerBottom p{
    font-family: Barlow,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;

    color: #fff;
}

.card__footerBottom a{
    font-family: Barlow,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;

    color: #fff;
}


@media screen and (max-width: 600px) {

    .meidaSlide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
        width: 100%;
    }

    .media__cards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 24px;
        gap: 15px;
    }

    .media__card{
        display: flex;
        flex-direction: column;
        gap: 9px;
        width: 100%;
        padding: 18px 20px;
        border-radius: 12px;

        background: #25252566;
        backdrop-filter: blur(8px);
    }

    .media__cardContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .card__contentImg{
        position: relative;
    }

    .card__contentImg img{
        border-radius: 12px;
        height: 167px;
    }

    .card__contentImgTag{
        position: absolute;
        top: 19px;
        left: 19px;
        border-radius: 200px;
        padding: 0 14px;


        font-family: Barlow, sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }

    .media__cardFooter{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .card__footerBottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .media__card h2{
        font-size: 14px;
    }

    .media__cardFooter p{
        font-family: Barlow,sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        vertical-align: middle;

        color: #fff;
    }

    .card__footerBottom a{
        font-family: Barlow,sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;

        color: #fff;
    }
}