

.roadmap-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px;

    position: relative;
}


.roadmap__slider-wrapper{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    padding-left: 375px;
}

.roadmap__slider{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    gap: 13px;
    overflow-x: scroll;
}

.roadmap__slider--row{
    flex-direction: row;
}


.roadmap-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #fff;
    padding: 20px;
    padding-bottom: 0;

    position: relative;
    background: #25252566;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    width: 570px;
    overflow: hidden;
}

.roadmap-item::after{
    content: '';
    display: block;
    border-radius: 40px;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.roadmap-item:nth-child(1)::after{
    background: #75D4FC;
    box-shadow: 0 4px 4px 0 #75D4FC;
}

.roadmap-item:nth-child(2)::after{
    background: #F58FE5;
    box-shadow: 0 4px 4px 0 #F58FE5;
}

.roadmap__slider--row .roadmap-item::after{
    background: #F7A000;
    box-shadow: 0 4px 4px 0 #F7A000;
}

.roadmap-item:nth-child(3)::after{
    background: #75D4FC;
    box-shadow: 0 4px 4px 0 #75D4FC;
}

.roadmap-item:nth-child(4)::after{
    background: #F58FE5;
    box-shadow: 0 4px 4px 0 #F58FE5;
}

.roadmap-item:nth-child(5)::after{
    background: #75D4FC;
    box-shadow: 0 4px 4px 0 #75D4FC;
}

.roadmap-item:nth-child(6)::after{
    background: #F58FE5;
    box-shadow: 0 4px 4px 0 #F58FE5;
}


.item__info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 7px;
}

.item__info img{
    width: 20px;
    height: 20px;
}

.item__info p{
    font-family: Barlow,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    width: 30%;
    color: #ffffff;
}

.item__date{
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    vertical-align: middle;
    color: #fff;
    margin-bottom: 2px;
}

.item__tag{
    position: absolute;
    right: 27px;
    border-radius: 20px;
    padding: 0 14px;

    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    backdrop-filter: blur(4px);
}

.completed{
    background: #133A28;
    color: #22FC86;
}


@media screen and (max-width: 600px) {


    .roadmap-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;

        position: relative;
    }


    .roadmap__slider-wrapper{
        display: flex;
        flex-direction: column;
        gap: 13px;
        width: 100%;
        padding-left: 24px;
    }

    .roadmap__slider{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 300px;
        gap: 13px;
        overflow-x: scroll;
        width: calc(100% - 24px);
    }

    .roadmap__slider--row{
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
    }


    .roadmap-item{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: #fff;
        padding: 20px;
        padding-bottom: 0;

        position: relative;
        background: #25252566;
        backdrop-filter: blur(8px);
        border-radius: 12px;
        width: 100%;
        overflow: hidden;
    }

    .roadmap-item::after{
        content: '';
        display: block;
        border-radius: 40px;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    .roadmap-item:nth-child(1)::after{
        background: #75D4FC;
        box-shadow: 0 4px 4px 0 #75D4FC;
    }

    .roadmap-item:nth-child(2)::after{
        background: #F58FE5;
        box-shadow: 0 4px 4px 0 #F58FE5;
    }

    .roadmap__slider--row .roadmap-item::after{
        background: #F7A000;
        box-shadow: 0 4px 4px 0 #F7A000;
    }

    .roadmap-item:nth-child(3)::after{
        background: #75D4FC;
        box-shadow: 0 4px 4px 0 #75D4FC;
    }

    .roadmap-item:nth-child(4)::after{
        background: #F58FE5;
        box-shadow: 0 4px 4px 0 #F58FE5;
    }

    .roadmap-item:nth-child(5)::after{
        background: #75D4FC;
        box-shadow: 0 4px 4px 0 #75D4FC;
    }

    .roadmap-item:nth-child(6)::after{
        background: #F58FE5;
        box-shadow: 0 4px 4px 0 #F58FE5;
    }


    .item__info{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        margin-bottom: 7px;
    }

    .item__info img{
        width: 20px;
        height: 20px;
    }

    .item__info p{
        font-family: Barlow,sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        vertical-align: middle;
        width: 60%;
        color: #ffffff;
    }

    .item__date{
        font-family: Barlow, sans-serif;
        font-weight: 700;
        font-size: 10px;
        line-height: 16px;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 2px;
    }

    .item__tag{
        position: absolute;
        right: 20px;
        border-radius: 20px;
        padding: 0 14px;

        font-family: Barlow, sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        backdrop-filter: blur(4px);
    }

    .completed{
        background: #133A28;
        color: #22FC86;
    }
}