.wrapper__form{
    padding: 0 375px;
}

.form-slide{
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    background-color: #F7A000;
    padding: 37px 25%;
    padding-bottom: 15px;
    border-radius: 20px;

    font-family: Barlow,sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.form-slide span{margin-top: 10px}

.form-slide form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-slide form input, .form-slide form textarea{
    backdrop-filter: blur(8px);
    background: #25252566;
    border-radius: 8px;
    padding: 12px;

    font-family: "Stage Wanders",sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
}

.form-slide form input[placeholder]{
    color: #fff;
    opacity: 1;
}

.form-slide form button{
    box-shadow: 0 0 6px 2px #75D4FC4D;
    background: #252525;
    font-family: "Stage Wanders",sans-serif;
    padding: 16px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #75D4FC;
}


@media screen and (max-width: 600px) {
    .wrapper__form{
        padding: 0 24px;
    }

    .form-slide{
        display: flex;
        flex-direction: column;
        gap: 5px;

        width: 100%;
        background-color: #F7A000;
        padding: 37px 21px;
        padding-bottom: 15px;
        border-radius: 20px;

        font-family: Barlow,sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
    }

    .form-slide span{margin-top: 10px}

    .form-slide form{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form-slide form input, .form-slide form textarea{
        backdrop-filter: blur(8px);
        background: #25252566;
        border-radius: 8px;
        padding: 12px;

        font-family: "Stage Wanders",sans-serif;
        font-weight: 400;
        font-size: 9px;
        line-height: 20px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #fff;
    }

    .form-slide form input[placeholder]{
        color: #fff;
        opacity: 1;
    }

    .form-slide form button{
        box-shadow: 0 0 6px 2px #75D4FC4D;
        background: #252525;
        font-family: "Stage Wanders",sans-serif;
        padding: 16px;
        border-radius: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        color: #75D4FC;
    }
}