
.App {
  position: relative;
}

h1{
  font-family: "Stage Wanders", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #F7A000;
}

h2{
  font-family: Barlow, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}

h3{
  font-family: Barlow, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  filter: blur(0px) brightness(0.5);
  z-index: -1;
}

@font-face {
  font-family: "Stage Wanders";
  src: url(./fonts/StageWanders.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.blue{
  color: #75D4FC;
  backdrop-filter: blur(4px);
  background: #2D3C49E5;
  box-shadow: 0 0 20px 1px #75D4FC4D;

}
.green{
  color: #22FC86;
  backdrop-filter: blur(4px);
  background: #15402CE5;
  box-shadow: 0 0 20px 1px #22FC864D;
}
.pink{
  color: #F58FE5;
  background: #5D384AE5;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px 1px #F58FE54D;
}
.orange{
  color: #FD7139;
  background: #792F12E5;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px 1px #FD71394D;
}

button.yellow{
  box-shadow: 0 0 26px 4px #F7A000 inset;
  border: 1px solid #F7A000;
  color: #fff;
}

button.bluelight{
  box-shadow: 0 0 6px 2px #75D4FC4D;
  color: #75D4FC;
  background: #252525;
}


@media screen and (max-width: 600px) {
  h1{
    font-family: "Stage Wanders", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #F7A000;
  }

  h2{
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
  }

  h3{
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }
}